@using TesteGit.Models
@model Pessoa

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <h1>Exibir</h1>

        @Model.Nome
        @Model.Telefone
    </body>
    </html>

